/*Imported font (work sans) from google fonts,*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');



body {
	background-color:black;
}

/*Jumbotron styling*/
.jumbotron {
	background-image: linear-gradient(to top, black, transparent 90%), url("../images/header.png");
	min-height:600px;
}


/*Navbar styling*/
.nav-logo {
	font-size:32px;
	color:#FFF;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	letter-spacing:0px;
}

.nav-logo:hover {
	color:#FF0000;
}

.nav-item {
	color:#FFF;
	margin-left:50px;
	margin-right:50px;
	font-size:17px;
	font-family: 'Montserrat', sans-serif;
}

.nav-item:hover {
	color:#FF006E;
}