/*Imported font (work sans) from google fonts,*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,600&display=swap');



body {
	background-color:black;
}

/*Jumbotron styling*/
.jumbotron {
	min-height:600px;
}


/*Navbar styling*/
.nav-logo {
	font-size:32px;
	color:#FFF;
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	letter-spacing:-2px;
}

.nav-logo:hover {
	color:#FF0000;
}

.nav-item {
	color:#FFF;
	margin-left:50px;
	margin-right:50px;
	font-size:17px;
	font-family: 'Work Sans', sans-serif;
}

.nav-item:hover {
	color:#FF006E;
}